<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="HAIS.DailyFuel" android:installLocation="internalOnly" android:versionCode="1" android:versionName="Beta version">
	<uses-sdk android:minSdkVersion="15" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="DailyFuel">
		<meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyCBOIYjFrRykXRMMwDaIk5gfAVWhsNsRoc" />
	</application>
</manifest>